trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
    - internal/release/*
    - experimental/*

pr:
- main
- release/*
- experimental/*

name: $(Date:yyyyMMdd)$(Rev:.r)

variables:
  - name: TeamName
    value: dotnet-core-acquisition
  # Skip Running CI tests
  - name: SkipTests
    value: false
  # Set Official Build Id
  - name: OfficialBuildId
    value: $(Build.BuildNumber)
  - ${{ if or(startswith(variables['Build.SourceBranch'], 'refs/heads/release/'), startswith(variables['Build.SourceBranch'], 'refs/heads/internal/release/'), eq(variables['Build.Reason'], 'refs/heads/internal/release/'), eq(variables['Build.Reason'], 'Manual')) }}:
    - name: PostBuildSign
      value: false
  - ${{ else }}:
    - name: PostBuildSign
      value: true

  # Produce test-signed build for PR and Public builds
  - ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
    - name: SignType
      value: test

  # Set up non-PR build from internal project
  - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
    - name: SignType
      value: $[ coalesce(variables.OfficialSignType, 'real') ]

stages:
- stage: Build
  jobs:

  # Windows x64
  - template: /eng/jobs/windows-build-PR.yml
    parameters:
      name: Windows_x64
      publishRidAgnosticPackages: true
      targetArchitecture: x64

  # Windows x86
  - template: /eng/jobs/windows-build-PR.yml
    parameters:
      name: Windows_x86
      targetArchitecture: x86

  # Windows arm64
  - template: /eng/jobs/windows-build-PR.yml
    parameters:
      name: Windows_arm64
      targetArchitecture: arm64
      disableVSPublish: true

- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - stage: PrepareForPublish
    displayName: Prepare for Publish
    dependsOn: Build
    jobs:
    # Prep artifacts: sign them and upload pipeline artifacts expected by stages-based publishing.
    - template: /eng/jobs/prepare-signed-artifacts-PR.yml
      parameters:
        PublishRidAgnosticPackagesFromJobName: Windows_x64
    # Publish to Build Asset Registry in order to generate the ReleaseConfigs artifact.
    - template: /eng/common/templates/job/publish-build-assets.yml
      parameters:
        publishUsingPipelines: true
        dependsOn: PrepareSignedArtifacts
        pool:
          name: NetCore1ESPool-Svc-Internal
          demands: ImageOverride -equals windows.vs2022preview.amd64
  - template: /eng/stages/publish-PR.yml
    parameters:
      publishingInfraVersion: 3
